.DS_Store
.ipynb_checkpoints/
qsd1_w1/*
qsd2_w1/*
qsd1_w2/*
qsd2_w2/*
qsd1_w4/*
qsd1_w4_denoise/*
qst1_w3/*
qst2_w3/*
masks_qd/*
bbdd/*
image1.jpg
bbdd_text/*
denoising_qsd1_w3/*
qsd1_w3/*
qsd1_w3_denoise/*
qsd2_w3/*
qsd2_w3_denoise/*
qst1_w3_text.pkl
result_qsd2.pkl
qsd1_w5/
src/__pycache__/*
src/masks_qd/*
src/qsd1_w5/*
src/rooms/*
src/.idea/*
